/*html, body, .container-fluid
{
    height: 100%;

    margin: 0;

    padding: 0;
}*/

p.success
{
    color: green;
}

p.error
{
    color: red;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Stylize text box */
#q
{
    /* Text box's width */
    width: 350px;
}

main
{
    height: 100%;

    /* left-align contents */
    text-align: left;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.ui-autocomplete
{
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-border-radiu: 4px;
    -webkit-border-radius: 4px;
    margin-top: 1px;
    overflow-y: hidden;
    overflow-x: hidden;
}
