{% extends "allergies/layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
<div class="container-fluid">
<h1>Contact Me</h1>
<p>If you have any questions or concerns, would like to see a feature added to the website, 
    or would like me to remove one of the allergy lists I have posted, use this form to contact me. Please provide
    a valid email address so that I can respond if I have follow-up questions.
</p>

{% if messages %}
<div class="notification">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div style="width:100%">
    <form id="contact" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{field}}
    </div>
    {% endfor %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Len51gUAAAAAO84UpoOdQ6yAnUS7QOW4bL_Kip1" data-callback="recaptcha_callback_email"></div>
    <input class="btn btn-primary" type="submit" id="email_submit" value="Send message" disabled>
    </form>
</div>
</div>
{% endblock %}