{% extends "allergies/layout.html" %}

{% block title %}
    Request
{% endblock %}

{% block main %}
<div class="container-fluid">
<h1>Submit a Request</h1>
<p>
    Here you may request that I add another restaurant's allergy information to this website. I ask that you please look for it
    first on the "search" page to ensure that I haven't already uploaded it. In addition, if you already know the link to the website,
    I ask that you send that in the provided box as well (though this is not required). Thank you for helping to build this
    project!
</p>

{% if messages %}
<div class="notification">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<div style="width:100%">
    <form id="request" method="POST">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{field}}
    </div>
    {% endfor %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6Len51gUAAAAAO84UpoOdQ6yAnUS7QOW4bL_Kip1" data-callback="recaptcha_callback_request"></div>
    <input class="btn btn-primary mt-2" type="submit" id="request_submit" value="Submit Request" disabled>
    </form>
</div>
{% endblock %}