{% extends "allergies/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
        <h1>Search</h1>
        <p>You may either select a restaurant from the drop-down list or use the search box below. I do my best to keep
            this information up-to-date, but if a link is broken or outdated please report it to me. Each restaurant 
            provides its allergen information differently (some via pdf, some directly in their menu, etc.), so I try
            to provide the link that will be most immediately useful.
        </p>
        <p style="font-size: 14px; color: red;"><em>Disclaimer: I cannot verify the accuracy of these allergen guides. Please supplement this information with
            your own research and use your own best judgment.
        </em></p>
        {% if rest_list %}
        <form id="dd">
        {% csrf_token %}
            <div class="form-group">
                <select class="form-control" name="restaurant" id="rstrnt">
                    <option value="" selected>Select a restaurant:</option>
                    {% for rest in rest_list %}
                        <option value="{{ rest.rest_link }}">{{ rest.restaurant_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
        {% else %}
            <p>No information currently available</p>
        {% endif %}
        <form id="form" class="mt-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="q">Enter restaurant yourself:&nbsp;</label>
                <br>
                <input type="text" class="form-control" id="q" autofocus autocomplete="off" placeholder="Type restaurant name">
            </div>
        </form>
        <div id="pdf-div" style="display: none;">
            <object id="pdf-viewer" data="" type="application/pdf" width="100%" height="500px" style="border: 1px solid #333;">
                <param name="view" value="FitH"/>
                <p>Your browser doesn't support embedding a PDF. You can <a id="alt_pdf_link" href="">download the PDF here</a>.</p>
            </object>
        </div>
{% endblock %}
{% block footer %}
<script>
    $(function() {
        $("#q").autocomplete({
            source: "{% url 'allergies:get_names' %}",
            minLength: 3,
            autoFocus: true,
            focus: function(event, ui) {
                return false;
            },
            select: function(event, ui) {
                var link = ui.item.value;
                $("#q").val(ui.item.label);
                if (link.includes(".pdf")) {
                    $("#pdf-viewer").attr("data", link + "?#view=FitH");
                    $("#alt_pdf_link").attr("href", link);
                    $("#pdf-div").show();
                }
                else {
                    $("#pdf-div").hide();
                    var win = window.open(link, '_blank');
                    win.focus();
                }
                return false;
            },
        });
    });
</script>
{% endblock %}